.card{
    width: 700px;
    height: 200px;
    border: solid 1px #000;
   text-align: center;
   justify-items: center;
   margin: 40px;
   background-color: aquamarine;
 
  
   display: flex;
   
   border-top: 1px, 1px,1px, 1px solid;
   
}